*{
  margin: 0;
}


.app{
  background-color: #fafafa;
  height: 100vh;
}

.full-height-grow{
  display: flex;
  flex-direction: column;
}

.body{
  
  display: flex;
  padding: 0 100px;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */

}
